<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Eat</string>
		<key>imageName</key>
		<string>餐饮normal</string>
		<key>highImageName</key>
		<string>餐饮high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fruit</string>
		<key>imageName</key>
		<string>果蔬normal</string>
		<key>highImageName</key>
		<string>果蔬high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Snacks</string>
		<key>imageName</key>
		<string>零食normal</string>
		<key>highImageName</key>
		<string>零食high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cigiratte</string>
		<key>imageName</key>
		<string>烟酒normal</string>
		<key>highImageName</key>
		<string>烟酒high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shopping</string>
		<key>imageName</key>
		<string>购物normal</string>
		<key>highImageName</key>
		<string>购物high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Daily use</string>
		<key>imageName</key>
		<string>日用normal</string>
		<key>highImageName</key>
		<string>日用high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Clothing</string>
		<key>imageName</key>
		<string>服饰normal</string>
		<key>highImageName</key>
		<string>服饰high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Beauty</string>
		<key>imageName</key>
		<string>美容normal</string>
		<key>highImageName</key>
		<string>美容high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>infant&amp;mom</string>
		<key>imageName</key>
		<string>母婴normal</string>
		<key>highImageName</key>
		<string>母婴high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pet</string>
		<key>imageName</key>
		<string>宠物normal</string>
		<key>highImageName</key>
		<string>宠物high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Traffic</string>
		<key>imageName</key>
		<string>交通normal</string>
		<key>highImageName</key>
		<string>交通high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Communication</string>
		<key>imageName</key>
		<string>通讯normal</string>
		<key>highImageName</key>
		<string>通讯high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sport</string>
		<key>imageName</key>
		<string>运动normal</string>
		<key>highImageName</key>
		<string>运动high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Camera</string>
		<key>imageName</key>
		<string>数码normal</string>
		<key>highImageName</key>
		<string>数码high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Travel</string>
		<key>imageName</key>
		<string>旅行normal</string>
		<key>highImageName</key>
		<string>旅行high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Study</string>
		<key>imageName</key>
		<string>学习normal</string>
		<key>highImageName</key>
		<string>学习high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Office</string>
		<key>imageName</key>
		<string>办公normal</string>
		<key>highImageName</key>
		<string>办公high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Service</string>
		<key>imageName</key>
		<string>维修normal</string>
		<key>highImageName</key>
		<string>维修high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>House</string>
		<key>imageName</key>
		<string>家居normal</string>
		<key>highImageName</key>
		<string>家居high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>medical</string>
		<key>imageName</key>
		<string>医疗normal</string>
		<key>highImageName</key>
		<string>医疗high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Car</string>
		<key>imageName</key>
		<string>汽车normal</string>
		<key>highImageName</key>
		<string>汽车high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Apartment</string>
		<key>imageName</key>
		<string>住房normal</string>
		<key>highImageName</key>
		<string>住房high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Social</string>
		<key>imageName</key>
		<string>社交normal</string>
		<key>highImageName</key>
		<string>社交high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>parent</string>
		<key>imageName</key>
		<string>长辈normal</string>
		<key>highImageName</key>
		<string>长辈high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>use</string>
		<key>imageName</key>
		<string>红包normal</string>
		<key>highImageName</key>
		<string>红包high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>entertainment</string>
		<key>imageName</key>
		<string>娱乐normal</string>
		<key>highImageName</key>
		<string>娱乐high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Game</string>
		<key>imageName</key>
		<string>游戏normal</string>
		<key>highImageName</key>
		<string>游戏high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>gift</string>
		<key>imageName</key>
		<string>礼物normal</string>
		<key>highImageName</key>
		<string>礼物high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>cash</string>
		<key>imageName</key>
		<string>礼金normal</string>
		<key>highImageName</key>
		<string>礼金high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Donate</string>
		<key>imageName</key>
		<string>捐赠normal</string>
		<key>highImageName</key>
		<string>捐赠high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>lottery</string>
		<key>imageName</key>
		<string>彩票normal</string>
		<key>highImageName</key>
		<string>彩票high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>repayment</string>
		<key>imageName</key>
		<string>还款normal</string>
		<key>highImageName</key>
		<string>还款high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>loan</string>
		<key>imageName</key>
		<string>借出normal</string>
		<key>highImageName</key>
		<string>借出high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>other</string>
		<key>imageName</key>
		<string>其他normal</string>
		<key>highImageName</key>
		<string>其他high</string>
	</dict>
</array>
</plist>
