<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>payment</string>
		<key>imageName</key>
		<string>工资normal</string>
		<key>highImageName</key>
		<string>工资high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>year-end bonus</string>
		<key>imageName</key>
		<string>年终奖normal</string>
		<key>highImageName</key>
		<string>年终奖high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>profit</string>
		<key>imageName</key>
		<string>分红normal</string>
		<key>highImageName</key>
		<string>分红high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>avocation</string>
		<key>imageName</key>
		<string>副业normal</string>
		<key>highImageName</key>
		<string>副业high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>parttime job</string>
		<key>imageName</key>
		<string>兼职normal</string>
		<key>highImageName</key>
		<string>兼职high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>rent</string>
		<key>imageName</key>
		<string>租金normal</string>
		<key>highImageName</key>
		<string>租金high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>money management</string>
		<key>imageName</key>
		<string>理财normal</string>
		<key>highImageName</key>
		<string>理财high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>cash gift</string>
		<key>imageName</key>
		<string>礼金2normal</string>
		<key>highImageName</key>
		<string>礼金2high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>accounts</string>
		<key>imageName</key>
		<string>转账normal</string>
		<key>highImageName</key>
		<string>转账high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>profits</string>
		<key>imageName</key>
		<string>红包2normal</string>
		<key>highImageName</key>
		<string>红包2high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>accounts2</string>
		<key>imageName</key>
		<string>收款normal</string>
		<key>highImageName</key>
		<string>收款high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>get</string>
		<key>imageName</key>
		<string>借入normal</string>
		<key>highImageName</key>
		<string>借入high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>accident</string>
		<key>imageName</key>
		<string>意外normal</string>
		<key>highImageName</key>
		<string>意外high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>other</string>
		<key>imageName</key>
		<string>其他2normal</string>
		<key>highImageName</key>
		<string>其他2high</string>
	</dict>
</array>
</plist>
